
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #1E293B; 
  color: #10B881; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #1E293B; 
}


.navbar-left h1 {
  margin: 0;
  padding-right: 50px;
}


.navbar-right p {
  margin: 0;
}

.nameformTitle {
  color: #10B881; 
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-around;
  gap: 25px; 
  margin-top: 50px;
}

.card-block {
  width: 100px;
  height: 150px;
  perspective: 1000px;
  cursor: pointer;
  background-color: #10B881; 
  border-radius: 15px;
}

.card-block.flipped .card-front {
  transform: rotateY(-180deg);
}

.card-block.flipped .card-back {
  transform: rotateY(0deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 15px;
}

.card-front {
  background-color: #10B881;
  border: 1px solid #ffffff;
}

.card-back {
  background-color: #333;
  border: 1px solid #111;
  transform: rotateY(180deg);
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #10B881;
  color: #fff; 
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.toast.show {
  opacity: 1;
}


.leaderboard-container {
  margin: 0 auto; 
  max-width: 700px; 
  font-size: x-large;
}

.leaderboard-table {
  width: 100%; 
  border-collapse: collapse; 
}

.leaderboard-table th,
.leaderboard-table td {
  text-align: center;
  padding: 8px;
  font-size: 24px;
}

.leaderboard-table th {
  position: sticky; 
  top: 0;
  background-color: #f2f2f2;
}

.scrollable-leaderboard {
  max-height: 250px;
  overflow-y: auto;
}




@media (max-width: 768px) {
  .navbar-left h1 {
    font-size: 27px;
  }
  
  .navbar-right p {
    font-size: 20px;
  }

  .card-container {
    flex-wrap: wrap;
  }
  
  .card-block {
    margin: 10px;
  }
}


@media (min-width: 769px) {
  .navbar-left h1 {
    font-size: 35px; 
  }
  
  .navbar-right p {
    font-size: 27px;
  }

  .card-block {
    height: 380px;
    width: 200px; 
  }
}
